.main-section {
  max-width: 1920px;
  width: 100%;
  height: 1080px;
  background-color: rgb(34, 34, 88);
  padding-left: 240px;
}
.head {
  padding-top: 40px;
  max-width: 1443px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
}
.logo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.sky-house {
  margin: 10px 0 0 10px;
}
.navigation {
  margin: auto 0;
  display: flex;
  flex-wrap: nowrap;
}
.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nav-btn {
  margin: 0 43px;
}
.nav-txt {
  font-size: 16px;
  color: #ffffff;
}

/*********** Slider ************/

.slider{
  height: 800px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 100px;
}

.slides{
  /* width: 707px; */
  height: 597px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  /* width: 100%; */
  transition: 2s;
}
.first,.second,.third{
  margin-right: 25px;
}

.picture-two{
  width: 707px;
  height: 597px;
}

/********css for manual slide navigation********/

.navigation-manual{
  position: absolute;
  width: 70px;
  margin-top: 45px;
  display: flex;
  justify-content: start;
}

.manual-btn{
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  background-color: grey;
}

.manual-btn:not(:last-child){
  margin-right: 20px;
}

.manual-btn:hover{
  background: #ffffff;
}

#radio1:checked ~ .first{
  margin-left: 0%;
}

#radio2:checked ~ .first{
  margin-left: -31%;
}

#radio3:checked ~ .first{
  margin-left: -81%;
}


/********** Second Section **************/

.second-section{
  max-width: 1920px;
  width: 100%;
  padding: 176px 0 0 240px;
}

.about-us{
  display: flex;
}
.about-pic{
  margin-left: 140px;
  border-radius: 1%;
  display: flex;
  justify-content: center;
}
.about-pic-img{
  width: 707px;
  border-radius: 1em;
  margin: 224px 0 200px 140px;
  /* border-radius: 1%; */
  position: relative;

 
  box-shadow: 13px 13px 0px 0px #289FED,157px 58px 92px 40px rgba(10,171,244,0.3);
  -webkit-box-shadow: 13px 13px 0px 0px #289FED, 157px 58px 92px 40px rgba(10,171,244,0.3);
  -moz-box-shadow: 13px 13px 0px 0px #289FED, 157px 58px 92px 40px rgba(10,171,244,0.3);
  
} 
/* .box-shadow{
  width: 107px;
  height: 107px;
  background-color: #ffffff;
  margin-right: -800px;
  margin-top: 235px;
  box-shadow: 197px 360px 40px 342px rgba(10,171,244,0.28);
  transform: rotate(25deg);
} */

.text-container{
  width: 463px;
}
.about-title{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 60px;
}
.about-text-one{
  font-size: 16px;
  margin-bottom: 22px;
}
.smaal-tag{
  color: #0A22F4;
}

/********** Third Section **************/


.third-section{
  max-width: 1920px;
  width: 100%;
  padding: 176px 0 180px 240px;
}
.services{
  display: flex;
}
.services-pic{
  margin-right: 140px;
  border-radius: 1%;
  display: flex;
  justify-content: center;
}
.services-title{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 60px;
}
.services-text{
  font-size: 16px;
}
.services-pic-img{
  width: 707px;
  border-radius: 1em;
  /* box-shadow: 0px 0px 5px 5px #289FED, 208px 220px 717px 127px #5FB8FF, 204px 50px 6px 0px rgba(0,0,0,0) ; */
  box-shadow: -13px 13px 0px 0px #289FED,-157px 58px 92px 40px rgba(10,171,244,0.3);
  -webkit-box-shadow:-13px 13px 0px 0px #289FED, -157px 58px 92px 40px rgba(10,171,244,0.3);
  -moz-box-shadow:-13px 13px 0px 0px #289FED, -157px 58px 92px 40px rgba(10,171,244,0.3);
}



/************ fourth-section ***************/


.fourth-section{
  max-width: 1920px;
  width: 100%;
  padding-top: 176px;
}
.projects{
  width: 100%;
  height: 308px;
  background-color: #0A22F4;
  padding: 66px 0 0 240px;
}
.proj-title{
  color: #ffffff;
  font-size: 32px;
}


/**************** Project Swiper ****************/
.project-pictures{
  padding: 0 0 65px 240px;
  margin-top: -160px
}

.swiper-container {
  width: 100%;
  height: 500px;
  margin: 0 0 65px 240px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* margin-top: 40px; */
  /* background: rgb(134, 115, 4); */
  border-radius: 4%;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  border-radius: 4%;
  display: block;
  width: 100%;
  height: 80%;
  object-fit: cover;

}
.proj-swiper-img{
  height: 100%;
  position: 0;

}
.swiper-pagination-bullet{
  margin-left: 5px;
}
.swipre-pagination{
  display: flex;
  justify-content: flex-end;
}
.pag{
  width: 200px;
  float: right;
}
.img-text{
  position: absolute;
  z-index: 10;
  background-color: #ffffffde;
  width: 95%;
  padding: 30px;
  margin-top: 165px;
}
.p-text{
  font-size: 18px;
}
.swiper-slide:hover{
  margin-top: -40px;
  transition: 0.5s;
}
.swiper-slide:hover .img-text{
  opacity: 40%;
  transition: 0.5s;
}
.swiper-slide:hover .p-text{
  font-weight: 900;
  transition: 0.5s;
}


.other-projects{
  display: flex;
  justify-content: flex-end;
  padding-right: 15%;
}
.other-txt{
  font-size: 18px;
  color: black;
  font-weight: bold;
  padding: 5px 0 5px 20px;
  border-left: 1px solid black;
}