body{
  background-color: #0020F4;
  height: 100vh;
  overflow: hidden;
}
.container{
  width: 100%;
  height: 100%;
  overflow-y: scroll; 
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory; */
}
.main-section {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  background-color: #0020F4;
  padding-left: 240px;
  scroll-snap-align: center;
  overflow: hidden;
}
.head {
  position: fixed;
  /* background-color: rgba(0, 122, 255, 0.9); */
  background-color: #0020F4;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 40px 0 12px 240px;
  /* border-bottom: 1px solid #fff; */
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  z-index: 10;
}
.logo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.sky-house {
  margin: 10px 0 0 10px;
}
.navigation {
  margin: auto 0;
  display: flex;
  flex-wrap: nowrap;
}
.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nav-btn {
  margin: 0 43px;
}
.nav-txt {
  font-size: 16px;
  color: #ffffff;
}

/*********** Slider 1 ************/

.container1 {
  margin: 210px 0px -65px 0px !important;
  width: 100%;
  height: 100%;
}
.slides {
  left: -50px !important;
  text-align: center;
  font-size: 18px;


  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 65px !important;
}

.pic1,.pic3 {
  display: block;
  height: 100%;
  object-fit: cover;
}
.pic2{
 height: 100%;
}

.swiper-button-next{
    margin-top: 0px;
    position: absolute;
    top: 80% !important;
    left: 39% !important;
    width: 45px;
    height: 45px;
    transform: translateY(-50%);
}
.swiper-button-prev{
      position: absolute;
      top: 80% !important;
      left: 41% !important;
      width: 45px;
      height: 45px;
      transform: translateY(-50%);
      margin-top: 0px;
}
.swiper-button-next::after,.swiper-button-prev::after{
  display: none;
}
.pagination1{
  position: absolute !important;
  left: -49% !important;
  top: 76% !important;
}
.swiper-pagination-bullet{
  width: 10px !important;
  height: 10px !important;
}

/********** Second Section **************/

.second-section{
  max-width: 1920px;
  width: 100%;
  padding: 176px 0 0 240px;
  background-color: #fff;
  scroll-snap-align: center;
}

.about-us{
  display: flex;
  
}
.about-pic{
  margin-left: 140px;
  border-radius: 1%;
  display: flex;
  justify-content: center;
}
.about-pic-img{
  width: 707px;
  border-radius: 1em;
  margin: 224px 0 200px 140px;
  position: relative;
  box-shadow: 13px 13px 0px 0px #289FED,157px 58px 92px 40px rgba(10,171,244,0.3);
  -webkit-box-shadow: 13px 13px 0px 0px #289FED, 157px 58px 92px 40px rgba(10,171,244,0.3);
  -moz-box-shadow: 13px 13px 0px 0px #289FED, 157px 58px 92px 40px rgba(10,171,244,0.3);
} 
.text-container{
  width: 463px;
}
.about-title{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 60px;
}
.about-text-one{
  font-size: 16px;
  margin-bottom: 22px;
}
.smaal-tag{
  color: #0A22F4;
}

/********** Third Section **************/

.third-section{
  background-color: #fff;
  max-width: 1920px;
  width: 100%;
  padding: 176px 0 180px 240px;
  scroll-snap-align: center;
}
.services{
  display: flex;
}
.services-pic{
  margin-right: 140px;
  border-radius: 1%;
  display: flex;
  justify-content: center;
}
.services-title{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 60px;
}
.services-text{
  font-size: 16px;
}
.services-pic-img{
  width: 707px;
  margin: 224px 50px 0 40px;
  border-radius: 1em;
  box-shadow: -13px 13px 0px 0px #289FED,-157px 58px 92px 40px rgba(10,171,244,0.3);
  -webkit-box-shadow:-13px 13px 0px 0px #289FED, -157px 58px 92px 40px rgba(10,171,244,0.3);
  -moz-box-shadow:-13px 13px 0px 0px #289FED, -157px 58px 92px 40px rgba(10,171,244,0.3);
}

/************ fourth-section ***************/

.fourth-section{
  background-color: #fff;
  max-width: 1920px;
  width: 100%;
  padding: 120px 0 170px;
  scroll-snap-align: center;
}
.projects{
  width: 100%;
  height: 308px;
  background-color: #0A22F4;
  padding: 66px 0 0 240px;
}
.proj-title{
  color: #ffffff;
  font-size: 32px;
}

/**************** Project Swiper ****************/

.project-pictures{
  padding: 0 0 65px 240px;
  margin-top: -160px
}
.container2 {
  width: 100%;
  height: 500px;
  margin: 0 0 65px 240px;
}
.slide2 {
  text-align: center;
  font-size: 18px;
  border-radius: 4%;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.slide2 img {
  border-radius: 4%;
  display: block;
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.proj-swiper-img{
  height: 100%;
  position: 0;
}
.swiper-pagination-bullet{
  margin-left: 5px;
}
.pagination2{
  display: flex;
  justify-content: flex-end;
}
.pag{
  width: 200px;
  float: right;
}
.img-text{
  position: absolute;
  z-index: 1;
  background-color: #ffffffde;
  width: 95%;
  padding: 30px;
  margin-top: 165px;
}
.p-text{
  font-size: 18px;
}
.slide2:hover{
  margin-top: -40px;
  transition: 0.5s;
}
.slide2:hover .img-text{
  opacity: 40%;
  transition: 0.5s;
}
.slide2:hover .p-text{
  font-weight: 900;
  transition: 0.5s;
}
.other-projects{
  display: flex;
  justify-content: flex-end;
  padding-right: 15%;
}
.other-txt{
  font-size: 18px;
  color: black;
  font-weight: bold;
  padding: 5px 0 5px 20px;
  border-left: 1px solid black;
}

/********** Fifth Section ***********/

.fifth-section{
  background-color: #fff;
  max-width: 1920px;
  width: 100%;
  padding: 0 0 170px 240px;
  scroll-snap-align: center;
}
.partners{
  display: flex;
  justify-content: space-between;
  margin-right: 240px;
}
.partners-title{
  font-size: 32px;
  font-weight: bold;
  margin-bottom:60px;
}
.partners-text{
  width: 463px;
  font-size: 16px;
}
.a-tag-txt{
  color:#0A22F4;
}
.logos{
  width: 707px;
}

/************ sixth-section, Footer **************/

.sixth-section{
  max-width: 1920px;
  width: 100%;
  padding: 271px 0 20px 240px;
  background-color:#0A22F4;
  scroll-snap-align: center;
}
.footer{
  max-width: 1443px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer-contacts,.contact-form{
  width: 50%;
}
.footer-cont{
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 30px;
}
.footer-text{
  width: 463px;
  color: #ffffff;
  font-size: 16px;
}
.map{
  margin: 60px 0 60px;
}
.tel-mail{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
.tel,.mail{
  display: flex;
  justify-content: center;
  align-items: center;
}
.tel{
  margin-right: 30px;
}
.number,.mail-t{
  color: #ffffff;
  display: flex;
  flex-wrap: nowrap;
}
.tel-icon,.mail-icon{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.contact-form{
  padding: 100px 0 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
#name,#email,#tel{
  background-color: #0A22F4;
  width: 60%;
  height: 61px;
  position: relative;
  margin-bottom: 20px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  outline: none;
  border-bottom: 3px solid #fff;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
#text{
  background-color: #0A22F4;
  width: 60%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  outline:none;
  border-bottom: 3px solid #fff;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
::placeholder{
  position: absolute;
  color: #fff;
  font-size: 16px;
}
.button{
  width: 60%;
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
#send{
  width: 156px;
  padding: 20px;
  border-radius: 30px;
  outline: none;
  border-style: hidden;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.rights{
  max-width: 1443px;
  width: 100%;
  margin: 108px auto 0;
  display: flex;
  justify-content: space-between;
}
.rights-text,.end-txt-one{
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}
.ending{
  display: flex;
}
.end-txt-one{
  margin-right: 30px;
}
