body{
  background-color: #0020F4;
  height: 100vh;
  overflow: hidden;
}
.container{
  max-width: 1920px;
  /* width: 100%; */
  /* margin: 0 0; */
  height: 100%;
  overflow-y: scroll; 
  scroll-behavior: smooth;
}
.main-section {
  max-width: 1920px;
  width: 100%;
  height: 1080px;
  background-color: #0020F4;
  padding: 0 0 250px 240px;
  scroll-snap-align: center;
  overflow: hidden;
}
.head {
  position: fixed;
  background-color: #0020F4;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 40px 240px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  z-index: 10;
}
.logo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.sky-house {
  margin: 10px 0 0 10px;
}
.navigation {
  margin: auto 0;
  display: flex;
  flex-wrap: nowrap;
}
.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.nav-btn {
  margin: 0 ;
  padding: 18px 36px;
  border-radius: 30px;
  cursor: pointer;
}
.nav-txt {
  font-size: 16px;
  color: #ffffff;
  font-weight: bolder;
}
.nav-btn:hover{
  background-color: white;

}
.nav-btn:hover .nav-txt{
  color: black;
}
/*********** Slider 1 ************/

.container1 {
  margin: 216px 0px 65px 0px !important;
  width: 100%;
  height: 800px !important;
}
.slides {
  left: -50px !important;
  text-align: center;
  font-size: 18px;


  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 65px !important;
}
.slide-one{
  margin-left: 50px;
  max-width: 707px !important;
  width: 100% !important;
  background-image: url(../images/homepage/leftPic.svg);
  background-repeat: no-repeat;
	background-position: center;
  background-size: 100% !important;
}
.slide-two{
  max-width: 948px !important;
  width: 100% !important;
  background-image: url(../images/homepage/rightPic.svg);
  background-repeat: no-repeat;
	background-position: center;
  background-size: 100% !important;
}
.slide-three{
  margin-left: -40px;
  max-width: 707px !important;
  width: 100% !important;
  background-image: url(../images/homepage/leftPic.svg);
  background-repeat: no-repeat;
	background-position: center;
  background-size: 50% !important;
}
.pic1,.pic3 {
  display: block;
  height: 100%;
  object-fit: cover;
}
.pic2{
 height: 100%;
}

.swiper-button-next{
    margin-top: 0px;
    position: absolute;
    top: 97.7% !important;
    left: 39% !important;
    width: 45px;
    height: 45px;
    transform: translateY(-50%);
}
.swiper-button-prev{
      position: absolute;
      top: 97.7% !important;
      left: 41% !important;
      width: 45px;
      height: 45px;
      transform: translateY(-50%);
      margin-top: 0px;
}
.swiper-button-next::after,.swiper-button-prev::after{
  display: none;
}
.pagination1{
  position: absolute !important;
  left: -49% !important;
  top: 95% !important;
}
.swiper-pagination-bullet{
  width: 10px !important;
  height: 10px !important;
}
.swiper-pagination-bullet:root{
  color: #fff !important;
}
/********** Second Section **************/

.second-section{
  max-width: 1920px;
  width: 100%;
  padding: 176px 0 0 240px;
  background-color: #fff;
  scroll-snap-align: center;
}

.about-us{
  display: flex;
  
}
.about-pic{
  margin-left: 140px;
  border-radius: 1%;
  display: flex;
  justify-content: center;
}
.about-pic-img{
  max-width: 707px;
  width: 100%;
  border-radius: 1em;
  margin: 224px 0 200px 140px;
  position: relative;
  box-shadow: 13px 13px 0px 0px #289FED,157px 58px 92px 40px rgba(10,171,244,0.3);
  -webkit-box-shadow: 13px 13px 0px 0px #289FED, 157px 58px 92px 40px rgba(10,171,244,0.3);
  -moz-box-shadow: 13px 13px 0px 0px #289FED, 157px 58px 92px 40px rgba(10,171,244,0.3);
} 
.text-container{
  width: 463px;
}
.about-title{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 60px;
}
.about-text-one{
  font-size: 16px;
  margin-bottom: 22px;
}
.smaal-tag{
  color: #0A22F4;
}

/********** Third Section **************/

.third-section{
  background-color: #fff;
  max-width: 1920px;
  width: 100%;
  padding: 176px 0 180px 240px;
  scroll-snap-align: center;
}
.services{
  display: flex;
}
.services-pic{
  margin-right: 140px;
  border-radius: 1%;
  display: flex;
  justify-content: center;
}
.services-title{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 60px;
}
.services-text{
  font-size: 16px;
}
.services-pic-img{
  max-width: 707px;
  width: 100%;
  margin: 224px 50px 0 40px;
  border-radius: 1em;
  box-shadow: -13px 13px 0px 0px #289FED,-157px 58px 92px 40px rgba(10,171,244,0.3);
  -webkit-box-shadow:-13px 13px 0px 0px #289FED, -157px 58px 92px 40px rgba(10,171,244,0.3);
  -moz-box-shadow:-13px 13px 0px 0px #289FED, -157px 58px 92px 40px rgba(10,171,244,0.3);
}

/************ fourth-section ***************/

.fourth-section{
  background-color: #fff;
  max-width: 1920px;
  width: 100%;
  padding-top: 120px;
  padding-bottom: 170px;
  scroll-snap-align: center;
}
.projects{
  max-width: 1920px;
  width: 100%;
  height: 308px;
  background-color: #0A22F4;
  padding: 66px 0 0 240px;
}
.proj-title{
  color: #ffffff;
  font-size: 32px;
}

/**************** Project Swiper ****************/

.project-pictures{
  padding: 0 0 65px 240px;
  margin-top: -160px
}
.container2 {
  width: 100%;
  height: 500px;
  margin: 0 0 65px 240px;
}
.slide2 {
  text-align: center;
  font-size: 18px;
  border-radius: 4%;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.slide2 img {
  border-radius: 4%;
  display: block;
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.proj-swiper-img{
  height: 100%;
  position: 0;
}
.swiper-pagination-bullet{
  margin-left: 5px;
}
.pagination2{
  display: flex;
  justify-content: flex-end;
}
.pag{
  width: 200px;
  float: right;
}
.img-text{
  position: absolute;
  z-index: 1;
  background-color: #ffffffde;
  width: 95%;
  padding: 30px;
  margin-top: 165px;
}
.p-text{
  font-size: 18px;
}
.slide2:hover{
  margin-top: -40px;
  transition: 0.5s;
}
.slide2:hover .img-text{
  opacity: 40%;
  transition: 0.5s;
}
.slide2:hover .p-text{
  font-weight: 900;
  transition: 0.5s;
}
.other-projects{
  display: flex;
  justify-content: flex-end;
  padding-right: 15%;
}
.other-txt{
  font-size: 18px;
  color: black;
  font-weight: bold;
  padding: 5px 0 5px 20px;
  border-left: 1px solid black;
}

/********** Fifth Section ***********/

.fifth-section{
  background-color: #fff;
  max-width: 1920px;
  width: 100%;
  height: 80%;
  padding: 200px 0 10px 240px;
  scroll-snap-align: center;

}
.partners{
  display: flex;
  justify-content: space-between;
  margin-right: 240px;
}
.partners-title{
  font-size: 32px;
  font-weight: bold;
  margin-bottom:60px;
}
.partners-text{
  width: 463px;
  font-size: 16px;
}
.a-tag-txt{
  color:#0A22F4;
}
.logos{
  display: flex;
  flex-wrap: wrap;
  max-width: 707px;
  width: 100%;
}

/************ sixth-section, Footer **************/

.sixth-section{
  max-width: 1920px;
  width: 100%;
  padding: 271px 0 20px 240px;
  background-color:#0A22F4;
  scroll-snap-align: center;
}
.footer{
  max-width: 1443px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer-contacts,.contact-form{
  width: 100%;
}
.footer-cont{
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 30px;
}
.footer-text{
  width: 50%;
  color: #ffffff;
  font-size: 16px;
}
.map{
  margin: 60px 0 60px;
}
.tel-mail{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
.tel,.mail{
  display: flex;
  justify-content: center;
  align-items: center;
}
.tel{
  margin-right: 30px;
}
.number,.mail-t{
  color: #ffffff;
  display: flex;
  flex-wrap: nowrap;
}
.tel-icon,.mail-icon{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.contact-form{
  padding: 100px 0 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
#name,#email,#tel{
  background-color: #0A22F4;
  width: 100%;
  height: 61px;
  position: relative;
  margin-bottom: 20px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  outline: none;
  border-bottom: 3px solid #fff;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
#text{
  background-color: #0A22F4;
  width: 100%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  outline:none;
  border-bottom: 3px solid #fff;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
::placeholder{
  position: absolute;
  color: #fff;
  font-size: 16px;
}
.button{
  width: 60%;
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
#send{
  width: 156px;
  padding: 20px;
  border-radius: 30px;
  outline: none;
  border-style: hidden;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.rights{
  max-width: 1443px;
  width: 100%;
  margin: 108px auto 0;
  display: flex;
  justify-content: space-between;
}
.rights-text,.end-txt-one{
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}
.ending{
  display: flex;
}
.end-txt-one{
  margin-right: 30px;
}


/*///////////////-Responsive-///////////*/

@media screen and (max-width: 1700px){
  .about-pic-img{
    width: 80%;
    margin: 224px 80px 200px 40px;
  }
  .services-pic-img{
    width: 80%;
  }
  .text-container{
    margin-right: 80px;
  }
  #name,#email,#tel,#text{
    width: 80%;
    margin-right: 80px;
  }
  .button{
    margin-right: 80px;
  }
  .rights{
    padding-right: 80px;
  }
  .partners-posts{
   margin-right: 80px;
  }
  .main-section{
    height: 100%;
  }
  .container1{
    margin-top: 56px !important;
  }
  .slide-one{
    max-width: 40% !important;
  }
  .slide-two{
    max-width: 55% !important;
  }
  .slide-three{
    max-width: 40% !important;
    margin-left: 2px;
    background-size: 100% !important;
  }

}
@media screen and (max-width: 1525px){
  .head{
    padding:40px 140px;
  }
  .second-section,.third-section,.fifth-section,.sixth-section{
    padding: 180px 140px;
  }
  .fifth-section{
    height: 100%;
  }
  .sixth-section{
    padding-bottom: 50px;
  }
  .container1{
    margin-left: -100px !important;
  }
  .projects,.project-pictures{
    padding-left: 140px;
  }
  .other-projects{
    padding-right: 140px;
  }
  .swiper-button-next{
    left: 33% !important;
    top: 83.7% !important;
  }
  .swiper-button-prev{
    left: 37% !important;
    top: 83.7% !important;
  }
  .pagination1{
    top: 80.7% !important;
    left: -46% !important;
  }
  .partners{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }
  .partners-logos{
    margin-top: 150px;
  }
  .partners-img{
    margin: 5px;
  }
  .nav-btn{
    padding: 9px 18px;
  }
  .proj-swiper-img{
    height: 50% !important;
  }
  .img-text{
    margin-top: 60px;
    padding: 10px;
    border-radius: 1%;
  }
  .project-pictures{
    padding-bottom: 0px;
  }
  .container2{
    margin-bottom: 0 !important;
  }

}
@media screen and (max-width: 1300px){
  .second-section,.third-section,.fifth-section,.sixth-section{
    padding: 200px 70px;
  }
  .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-contacts{
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-cont,.tel-mail,.map{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-text{
    margin: 0 auto;
  }
  .sixth-section,.fourth-section,.third-section,.second-section{
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 1070px){
  .head{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container1{
    height: 600px !important;
  }
  .slide-one,.slide-two,.slide-three{
    margin-right: 30px !important;
  }
  .r,.l{
    display: none;
  }
  .pagination1{
    top: 90.7% !important;
    left: -7.5% !important;
  }
  .text-container{
    margin-right: 0px;
    order: 2;
  }
  .about-pic-img,.services-pic-img{
    box-shadow: none;
    /* width: 60%; */
    display: none;
  }
  .second-section{
    padding-bottom: 50px;
  }
  .about-pic{
    height: 280px;
    width: 534px;
    background-image: url(/images/homepage/about.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% !important;
    margin-left: 0;
    order: 1;
    border-radius: 3%;
  }
  .services-pic{
    height: 280px;
    width: 534px;
    background-image: url(/images/homepage/services.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% !important;
    margin-right: 0;
    order: 1;
    border-radius: 3%;
  }
  .about-us,.services{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .about-title,.services-title{
    display: flex;
    justify-content: center;
    margin-top: -75%;
  }
  .about-text-one,.services-text{
    margin-top: 340px;
  }
  .hamburger{
    background-color: rgba(28, 183, 255, 0.9);
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100;
    border-radius: 50%;
    cursor: pointer;
  }
  .bar1,.bar2,.bar3{
    width: 18px;
    height: 2px;
    margin-bottom: 5px;
    background-color: #fff;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
    transform: rotate(-45deg) translate(-5px, 5px);
    transition: all 1s ease-out;
  }
  .change .bar2 {opacity: 0;}
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -5px);
    transform: rotate(45deg) translate(-5px, -5px);
    transition: all 1s ease-out;
  }
  .navigation{
    position: fixed;
    background-color: rgba(112, 107, 107, 0.836);
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 90% -20%);
    transition: all 1.1s ease-out;
    pointer-events: none;
  }
  .navigation.open{
    clip-path: circle(1500px at 90% -10%);
    -webkit-clip-path: circle(1500px at 90% -10%);
    pointer-events: all;
  }
  .nav-list{
    border-radius: 15px;
    width: 334px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #289FED;
  }
  .nav-btn{
    padding: 9px 18px;
    margin: 10px auto;
  }
  .partners-img{
    width: 30%;
  }
  .partners,.partners-posts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .sixth-section,.main-section{
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 768px){
.about-pic,.services-pic{
  height: 180px;
  width: 334px;
}
.tel-mail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mail{
  margin: 10px 10px 10px 0;
}
.rights{
  display: flex;
  flex-direction: column;
}
.all-rights{
  order: 2;
  display: flex;
  justify-content: center;
  margin: 10px;
}
.rights-text{
  color: rgba(255, 255, 255, 0.575)
}
.ending{
  display: flex;
  justify-content: space-between;
}
.services-text{
  margin-top:300px ;
}
.services-pic{
  margin-bottom: 35px;
}
.services-title{
  margin-top: -65%;
}
.about-title{
  margin-top: -60%;
}
}